name: sudoku
description: A new Flutter project.

version: 0.1.3+4

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  hive: ^1.4.1+1
  hive_flutter: ^0.3.0+2
  google_fonts: ^1.1.0
  wakelock: ^0.1.4+1
  fluttertoast: ^4.0.1
  hive_listener: ^0.1.0
  firebase_admob: 0.9.3+2
  in_app_purchase: 0.3.4
  cloud_firestore: 0.13.7
  google_sign_in: 4.5.1
  firebase_auth: 0.16.1
  apple_sign_in: ^0.1.0
  font_awesome_flutter: ^8.8.1
  flip_panel: ^1.0.1
  cupertino_localizations: 1.0.0+1

dependency_overrides:
  intl: ^0.16.1

flutter_localizations:
  sdk: flutter


dev_dependencies:
  flutter_launcher_icons: ^0.7.5
  hive_generator: ^0.7.0+2
  build_runner: ^1.10.0

flutter_icons:
  android: "ic_launcher"
  ios: true
  image_path: "assets/icon/sudoku.png"

### run to create launcher icons
# flutter pub run flutter_launcher_icons:main

### run hive_generator
# flutter packages pub run build_runner build

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  assets:
   - assets/images/ 

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
